src/main/resources/META-INF/longneck/schema/longneck-dns.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="urn:hu.sztaki.ilab.longneck:1.0" 
        targetNamespace="urn:hu.sztaki.ilab.longneck:1.0"
        elementFormDefault="qualified">

  <xs:element name="dnsresolve" type="tns:dnsResolverType" substitutionGroup="tns:abstract-block" />

  <xs:complexType name="dnsResolverType">
    <xs:complexContent>
      <xs:extension base="tns:abstractBlockType">
        <xs:attribute name="connection-name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>